h1{font-size: 1.5cm; color: blue;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4{font-size: 0.6cm; color: orange;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{font-size: 0.6cm; color: orange;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{font-size: 0.5cm; color: #8B4513;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
